#header {
    background-color:rgb(77, 218, 237);
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.btn {
    background-color: rgb(67, 93, 104);
    color: white;
    padding: 10px 20px;
    margin: 25px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(34, 69, 86);
}

.logout {
    float: right;
    margin-right: 50px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}