* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: orange;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.layout-button{
    display: inline-block;
    background-color: #0a8ea6;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    border: none;
    text-decoration: none;
}
.header-button{
    margin-left: 15px;
}
.logout-button{
    float: right;
    background-color:orange;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}