.profile{
    display: inline-block;
    vertical-align: top;
    margin-top: 72px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items:center;
}
.grid-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 55px;
}

.complete {
    color: red;
    font-weight: bold;
    position: absolute;
    left: -52px;
}
.elementary{
    background-color: #57cbdf;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    border: none;
}
.junior-high{
    background-color: #72c6b2;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    border: none;
}
.high{
    background-color: #5ec887;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    border: none;
}
.elementary-curriculum{
    background-color: #57cbdf;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 16px;
    color: white;
    border: none;
    font-size: 12px;
    width:100px;
}
.junior-high-curriculum{
    background-color: #72c6b2;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 16px;
    color: white;
    border: none;
    font-size: 12px;
    width:100px;
}
.high-curriculum{
    background-color: #5ec887;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 16px;
    color: white;
    border: none;
    font-size: 12px;
    width:100px;
}