.old-pass, .new-pass, .new-pass-confirm {
    margin-bottom: 20px;
    margin-left: 80px;
}

.pass-text {
    font-size: xx-large;
    margin-left: 10px;
}

.old-pass-input, .new-pass-input, .new-pass-confirm-input {
    margin-left: 70px;
    width: 30%;
}

.new-pass-confirm-input {
    margin-left: 40px;
}

.regist-button {
    margin-left: 400px;
    background-color: #FFA500;
    width: 10%;
    color: white;
    border: none;
}
.error{
    color: red;
}